{% extends "layout.html" %}

{% block content %}
	<div class="palabras">
		<form autocomplete="off">
			<!-- BEGIN Tiempo  --> 
			<p><input id="id_t0" type = "hidden" name = "t0" value = {{t0}} /></p>
			<!-- END Tiempo  --> 
				<span><h1 for="q1">{{palabra}}</h1></span>
				
				<span class="input input--minoru">
					<input class="input__field input__field--yoko" type="text" id="id_palabraLeida"  name="palabraLeida" />
					<label class="input__label input__label--yoko" for="input-16">
						<span class="input__label-content input__label-content--yoko"></span>
					</label>
				</span>	
				

				<button type="submit" class="btn btn-2 btn-2b ">Enviar</button>
		</form><!-- /simform -->			
	</div>
  	

  	{% block scripts %}
		<script src="/static/js/classie.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
	{% endblock %}	
		<script>
			$(document).ready(function(){
				$("#id_palabra").keyup(function(){
					$.ajax({
					type: "POST",
					url: "/getCaracter",
					data:'palabraLeida='+$(this).val()+ '&t0='+$("#id_t0").val(),
					success: function(data){
						console.log("Correcto "+ data.palabraLeida +  " T:" + data.tiempo)
						$("#id_t0").val(data.t0)
					}
					});
				});
				$( "#id_pregunta" ).click(function() {
					var seconds = new Date().getTime() / 1000;
				  	$("#id_t0").val(seconds);
				  	console.log('tiempo reiniciado: ' + seconds)
				});
			});
		</script>

{% endblock %}
