{% extends "layout.html" %}

{% block content %}
	
	{% if fin %}
		<h2  class="main-title">{{ usuario }} <span class="thin">, palabra correcta!</span></h2>
	{% else %}
	<div class="palabras">
		<form action="/autenticacion" method="POST">
			
			<section>
			<!-- cs-select cs-skin-underline -->
		        <select id="id_select" class="" >
		            <option value="" disabled selected> {{usuario}} </option>
		            <option value="1">Cristhian </option>
		            <option value="2"> Jesus</option>
		        </select>
		    </section>

			usuario: <input class="usuario" type = "text" name = "usuario" value = {{usuario}} disabled /> <br>
			tiempo char: <input id="id_tiempo" type = "text" name = "tiempo" value = {{tiempo}}  disabled/><br>
			hay fallo palabra :<input id="id_hayErrPalabra" type = "text" name="hayErrPalabra" value = {{hayErrPalabra}}  disabled/><br>
			tiempo en corregir error palabra :<input id="id_tiempoErrPalabra" type = "text" name="tiempoErrPalabra" value = {{tiempoErrPalabra}}  disabled/><br>
			tiempo  palabra :<input id="id_tiempoPalabra" type = "text" name="tiempoPalabra" value = {{tiempoPalabra}}  disabled/><br>
			
			<!-- BEGIN Palabras  --> 
			<h1>{{ palabra }} <span class="thin"></span></h1>	
			
			<span class="input input--minoru">
				<input class="input__field input__field--yoko" type="text" id="id_palabraLeida"  name="palabraLeida" />
				<label class="input__label input__label--yoko" for="input-16">
			</span>	
			<button class="btn btn-2 btn-2b " type="submit">Enviar</button>

			<!-- DATOS OCULTOS -->
			<input class="usuario" type = "hidden" name = "usuario" value = {{usuario}} /> <br>
			<input id="id_t0_error" type = "hidden" name="t0_error" value = {{t0_error}} /><br>
			<input id="id_t0" type = "hidden" name = "t0" value = {{t0}} /><br>
			<input id="id_palabra" type = "hidden" name="palabra" value = {{palabra}} /><br>
			<input id="id_t0_palabra" type = "hidden" name="t0_palabra" value = {{t0_palabra}} /><br>

		</form><!-- /simform -->			
	</div>
  	
	{% endif %}
  	{% block scripts %}
		<script src="/static/js/classie.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
	{% endblock %}	
		<script>
			$(document).ready(function(){
				$("#id_select").change(function(){
					usuario = $("#id_select :selected").text();	
				    $(".usuario").val(usuario)
				});

				$("#id_palabra").keyup(function(){
					$.ajax({
					type: "POST",
					url: "/getCaracter",
					data:'palabraLeida='+$(this).val()+ '&t0='+$("#id_t0").val(),
					success: function(data){
						console.log("Correcto "+ data.palabraLeida +  " T:" + data.tiempo)
						$("#id_t0").val(data.t0)
					}
					});
				});
				$( "#id_pregunta" ).click(function() {
					var seconds = new Date().getTime() / 1000;
				  	$("#id_t0").val(seconds);
				  	console.log('tiempo reiniciado: ' + seconds)
				});
			});
		</script>

{% endblock %}
