{% extends "layout.html" %}

{% block content %}

	{% if fin %}
		<h2  class="main-title">{{ usuario }} <span class="thin">Gracias por realizar el entrenamiento</span></h2>
	{% else %}
		<div class="palabras">
			<form   autocomplete="off" action="/siguiente_palabra" method="POST">
				
					
					usuario: <input id="id_usuario" type = "text" name = "usuario" value = {{usuario}} disabled /> <br>
					tiempo char: <input id="id_tiempo" type = "text" name = "tiempo" value = {{tiempo}}  disabled/><br>
					hay fallo palabra :<input id="id_hayErrPalabra" type = "text" name="hayErrPalabra" value = {{hayErrPalabra}}  disabled/><br>
					tiempo en corregir error palabra :<input id="id_tiempoErrPalabra" type = "text" name="tiempoErrPalabra" value = {{tiempoErrPalabra}}  disabled/><br>
					tiempo  palabra :<input id="id_tiempoPalabra" type = "text" name="tiempoPalabra" value = {{tiempoPalabra}}  disabled/><br>
					
					<!-- BEGIN Palabras  --> 
					<h1>{{ palabra }} <span class="thin"></span></h1>	
					
					<span class="input input--minoru">
						<input class="input__field input__field--yoko" type="text" id="id_palabraLeida"  name="palabraLeida" />
						<label class="input__label input__label--yoko" for="input-16">
							<span class="input__label-content input__label-content--yoko">{{numPalabra+1}}/{{numTotalPalabras}}</span>
						</label>
					</span>	
					<button class="btn btn-2 btn-2b " type="submit">Siguiente</button>

					<!-- DATOS OCULTOS -->
					<input id="id_t0_error" type = "hidden" name="t0_error" value = {{t0_error}} /><br>
					<input id="id_t0" type = "hidden" name = "t0" value = {{t0}} /><br>
					<input id="id_palabra" type = "hidden" name="palabra" value = {{palabra}} /><br>
					<input id="id_t0_palabra" type = "hidden" name="t0_palabra" value = {{t0_palabra}} /><br>
					<input id="id_numPalabras" type = "hidden" name="numPalabra" value = {{numPalabra}} /><br>
					<input id="id_numTotalPalabras" type = "hidden" name="numTotalPalabras" value ={{numTotalPalabras}} />

			</form><!-- /simform -->			
		</div><!-- /div palabras -->
	{% endif %}
	{% block scripts %}
		<script src="/static/js/classie.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
	{% endblock %}	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script>
			$(document).ready(function(){

				$("#id_palabraLeida").keyup(function(){
					// current question placeholder
					console.log("palabra:" + $("#id_palabra").val() )
					console.log("palabraLeida:" + $(this).val())
					console.log("t0:" + $("#id_t0").val())
					console.log("esCristhian:" + $('#id_cristhian').prop('checked'))

					$.ajax({
					type: "POST",
					url: "/getCaracter",
					data: 	'palabra='+$("#id_palabra").val() + 
						   	'&palabraLeida='+$(this).val() + 
						  	'&t0='+$("#id_t0").val()+
						  	'&esCristhian='+$('#id_cristhian').prop('checked'),
					success: function(data){
						console.log("Datos del servidor")
						console.log(data)

						$("#id_t0").val(data.t0)
						$("#id_tiempo").val(data.tiempo)
					}
					});
				});
				
				$( "#id_palabraLeida" ).click(function() {
					var seconds = new Date().getTime() / 1000;
				  	$("#id_t0").val(seconds);
				  	console.log('tiempo reiniciado: ' + seconds)
				});

				$( "#id_cristhian" ).is(':checked')
			});
			
		</script>

{% endblock %}
